body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;

}

h1.wellcome {
    font-size: 50px;
    text-transform: capitalize;
}

h1.title {
    font-size: 50px;
    text-transform: capitalize;
}

h1.title span {
    color: tomato;
}

h3.skill {
    text-transform: capitalize;
    font-size: 25px;
}

a.hire-link {
    text-decoration: none;
    font-size: 25px;
    color: black;
    background: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 500;
    background-image: linear-gradient(45deg, rgba(119, 20, 2, 0.404), rgb(119, 25, 8));
}

section {
    display: flex;
    padding: 0% 5%;
}

.header-half1 {
    width: 50%;
}

.header-half2 {
    width: 50%;
    text-align: center;
}

.header-half2 img {
    width: 70%;
    border-radius: 100%;
}

.top-baner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}


section.dream-big {
    display: flex;
    padding: 10% 5%;
}

.dream-big-left {
    width: 50%;
    text-align: left;
}

.dream-big-right {
    width: 50%;
}

.dream-big-left img {
    width: 72%;
    border-radius: 100%;
    height: 90%;
}

.dream-big-right h1 {
    font-size: 50px;
    margin: 0;
    color: tomato;
}

.dream-big-right h4 {
    font-size: 30px;
    margin: 0;
}

.dream-big-right a {
    text-decoration: none;
    background: tomato;
    padding: 12px 70px;
    font-size: 30px;
    border-radius: 10px;
    color: white;
}